.main-content-halaman {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-halaman > div {
    width: 90%;
    background-color: #1878ae;
    border-radius: 10px;
}

.halaman-umkm-img {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.halaman-umkm-deskripsi {
    width: 50%;
    color: #fbf7f4;
}

.halaman-umkm-img img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

#setting-flex-umkm  {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.halaman-umkm-maps > iframe {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}